body {
    background-color: bisque;
}

nav {
    background-color: blueviolet;
    height: 60px;
    padding-top: 1rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

li {
    display: flex;
    align-items: baseline;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;   
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
}

.logout-button{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
    transition: color 0.3s ease;
    background: none;
    border: none;
    padding: 0;
}

.logout-button:hover {
  color: #ffd700;
}

h1 {
    text-align: center;
}